* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


h1 {
    text-align: center;
    padding: 2rem;
}

p {
    text-align: center;
    padding: 2rem;   
}

h2 {
    padding: 1rem;
    text-align: center;
}

input[type="checkbox"] {
    accent-color: #C280FF;
    cursor: pointer;
    
    
    
}

input[type="radio"]{
    accent-color: #c280ff;
    cursor: pointer;
   margin-left: 3rem;

}


.input-R {
    margin: 2rem;
    width: 80%;
    border-radius: 5px;
    padding: 0.4rem;

}

h3 {
    padding: 2rem;
    padding-top: 8rem;
}

input::placeholder {
    font-size: 0.8rem;
    color: rgb(184, 184, 184);
}

.label-R {
    padding: 2rem;
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.hr-R {
    border: none;
    border-top: 2px solid #921dff;
    margin: 10px 63rem;
    margin-left: 0.8rem;

}

body {
    background-color: #f4f0ea;
}


details {
    margin-left: 2rem;
}

input {
    margin: 2rem;
}

div {
    text-align: center;
}











